* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background{
    background-color: black;
    height: 100vh;
    padding-top: 1px;
}
.title{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hide{
    display:none;
}
.container{
    margin:  auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 450px;
    height: 420px;
}
.tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX {
color:#09C372;
}
.playerO {
    color:#498AFB;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
}
#reset{
    background-color: #FF3860;
    color:white;
    padding: 8px;
    border-radius: 8px;
    border:none;
    font-size: 20px;
    margin-left: 1rem;
    cursor: cursor;
}






.background{
    background-image: url(https://images5.alphacoders.com/956/thumb-1920-956578.jpg);
} 